@import '../../../assets/variables.scss';

.filter-wrapper {
    display: flex;
    column-gap: 20px;
    padding: 10px 20px;

    input {
        @extend %input;
        width: 250px;
    }
}

::ng-deep .p-datatable-header {
    border: 1px solid transparent;
}

::ng-deep .p-datatable-table-container {
    padding: 20px;
    border-collapse: collapse;

    .p-datatable-table {
        border-collapse: collapse;
    }

    .p-datatable-thead>tr>th,
    .p-datatable-tbody>tr>td {
        @extend %td;
    }

    .p-datatable-thead>tr>th {
        font-weight: 600;
    }

    .p-datatable-thead>tr,
    .p-datatable-tbody>tr:hover {
        background: $color-light-grey;

        .p-select-label,
        .p-multiselect-label {
            display: none;
        }
    }

    .p-datatable-tbody>tr>td {
        cursor: pointer;
    }
}

.add-button {
    @extend %add-button;
    margin: 10px 20px;
}

::ng-deep .p-overlay {
    width: 200px;

    .p-select-list-container,
    .p-multiselect-list-container {
        @extend %overlay;

        .p-select-option,
        .p-multiselect-option {
            height: 30px;
            color: $color-black;
            padding-left: 10px;
        }

        .p-select-option:hover,
        .p-select-option-selected,
        .p-multiselect-option:hover,
        .p-multiselect-option>.p-highlight {
            background: $color-light-grey !important;
        }
    }
}