.filter-wrapper {
    display: flex;
    column-gap: 20px;
    padding: 10px 20px;

    input {
        height: 35px;
        border: 1px solid grey;
        border-radius: 3px;
        color: #414040;
        padding-left: 10px;
        width: 250px;
    }
}

::ng-deep .p-datatable-header {
    border: 1px solid transparent;
}

::ng-deep .p-datatable-table-container {
    padding: 20px;
    border-collapse: collapse;

    .p-datatable-table {
        border-collapse: collapse;
    }

    .p-datatable-thead>tr>th,
    .p-datatable-tbody>tr>td {
        height: 40px;
        width: 200px;
        text-align: center;
        color: #414040;
    }

    .p-datatable-thead>tr>th {
        font-weight: 600;
    }

    .p-datatable-thead>tr,
    .p-datatable-tbody>tr:hover {
        background: #eff2f4;

        .p-select-label,
        .p-multiselect-label {
            display: none;
        }
    }

    .p-datatable-tbody>tr>td {
        cursor: pointer;
    }
}

.add-button {
    display: block;
    height: 40px;
    width: 180px;
    line-height: 38px;
    border-radius: 3px;
    margin: 10px 20px;
    padding: 0 10px;
    background: #2F80ED;
    color: white;
    border: 1px solid transparent;
    box-shadow: 2px 0 4px 0 #2F80ED;

    &:hover {
        box-shadow: none;
        cursor: pointer;
    }
}