::ng-deep p-select {
    .p-select-label {
        width: 300px;
        height: auto;
        min-height: 40px;
        border: 1px solid #c7d5e2;
        background-color: white;
        color: #424655;
        border-radius: 3px;
        padding: 0 0 0 10px;
        cursor: pointer;
        outline: none;
    }
    
    .p-select-dropdown {
        position: absolute;
        right: 10px;
        top: 50%;
        bottom: 50%;
        color: #424655;
    }

    .p-select-list-container {
        overflow: auto;
        box-shadow: 0 5px 15px 1px rgba(66, 70, 85, 0.1882352941);
        margin-top: 0;
        background: white;
        padding: 10px 0;
        border-radius: 5px;

        .p-select-option {
            height: 30px;
            color: #424655;
            padding-left: 10px;
        }

        .p-select-option:hover,
        .p-select-option-selected {
            background: #c7d5e2 !important;
        }
    }
}